.navbar {
  background-color: #026aa7;
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

div.left-side {
  height: 32px;
  width: 32px;
  color: #FFF;
  background-color: #5898c0;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.left-side:hover {
  background-color: #4089b7;
}

div.center {
  justify-self: center;
  align-items: center;
}

div.center i.fab.fa-trello {
  font-size: 22px;
  color: #87b5d2;
  margin-right: 3px;
}

div.center span.icon {
  font-family: 'Lobster', cursive;
  font-size: 26px;
  color: #87b5d2;
}

/* div.right-side {
  margin-right: 5px;
} */

p.initials {
  color: black;
  font-family: sans-serif;
  background-color: #dfe1e6;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: block;
}
