.add-list-button {
  background-color: hsla(0,0%,100%,.24);
  border-radius: 3px;
  width: 255px;
  height: 40px;
  margin-left: 8px;
  margin-right: 10px;
  padding-left: 17px;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
}

.add-list-button:hover {
  background-color: hsla(0,0%,100%,.33);
}

.add-list {
  position: relative;
  height: 80px;
}

.add-list-form {
  background-color: #EBECF0;
  /* display: none; */
  margin: 0 8px;
  padding: 4px;
  border-radius: 3px;
  width: 264px;
  height: 72px;
  position: absolute;
  top: 0;
  left: 0;
}

.add-list-form > input {
    background: white;
    width: 236px;
    height: 16px;
}

.lists-container {
  display: flex;
  height: 98.7%;
  overflow-x: scroll;
}

.created-lists {
  display: flex;
}

.list-column {
  margin-left: 8px;
  font-family: sans-serif;
  font-size: 14px;
}

.list-content {
  background-color: #ebecf0;
  border-radius: 4px;
  padding-bottom: 1px;
}

.list-title {
  display: flex;
  padding: 12px;
  padding-top: 15px;
  padding-left: 17px;
  justify-content: space-between;
  height: 16px;
  width: 243px;
  position: relative;
}

.list-title-button {
  width: 222px;
  cursor: pointer;
  position: relative;
  font-weight: 600;
}

.list-trash {
  width: 26px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  right: 9px;
  top: 11px;
}

.list-trash:hover {
  background-color: rgba(9,30,66,.08);
  border-radius: 2px;
}

.list-trash > i {
  position: absolute;
  left: 7px;
  top: 6px;
}

.list-title-change-input {
  background-color: white;
  position: absolute;
  left: -7px;
  display: none;
  top: -7px;
  width: 207px;
  padding: 5px;
  border: 2px solid #127bbd;
  border-radius: 4px;
}

.list-title-input {
  padding: 8px 12px;
  font-family: sans-serif;
  font-size: 14px;
  border: 2px solid #127abd;
  border-radius: 4px;
  margin-bottom: 4px;
}

.list-add-buttons {
  display: flex;
}

.list-add-buttons > input {
  background-color: #5aac44;
  padding: 4px 12px;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  height: 24px;
  border-radius: 3px;
  margin-right: 14px;
}

.list-add-buttons > input:hover {
  background-color: #61bd4f;
}

.add-list-x {
  position: relative;
  left: 98px;
  top: 12px;
}