 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 body {
   background-color:#FAFBFC;
 }
 
 .login-form-container {
   display: flex;
   justify-content: center;
   margin: 0px auto 30px;
   padding: 25px 40px;
   font-family: sans-serif;
   text-align: center;
   background-color: #FFF;
   width: 400px;
   box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
 }

 ul.session-error {
   background-color: #EB5A46;
   color: #fbedeb;
   font-size: 14px;
   display: inline-block;
   border: 1px solid #EB5A46;
   border-radius: 4px;
   font-weight: 300;
   margin: 14px 0;
   padding: 7px 14px;
 }

 p.session-title {
   font-weight: bold;
   font-size: 16px;
   color: #5E6C84;
   line-height: 28px;
   margin-bottom: 8px;
 }

 p.signup-msg {
   margin: 20px 0;
   font-size: 12px;
   color: #999;
   width: 320px;
 }

 .login-form input{
   background-color: #FAFBFC;
   padding: 7px;
   border-radius: 3px;
   margin-bottom: 16.8px;
   width: 320px;
   height: 44px;
   font-size: 14px;
   border: 2px solid #DFE1E6;
   font-weight: 300;
 }

 input.login-input {
   margin-top: none;
 }

 header > h1 {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Lobster', cursive;
   color: #0070bc;
   margin: 40px;
 }

 header i {
   margin-right: 10px;
   font-size: 36px;
 }

 header span {
   font-size: 36px;
 }

 input.session-submit {
   background-color: #5dab4a;
   color: white;
   box-shadow: none;
   border-radius: .3em;
   border: none;
   height: 33px;
   font-weight: bold;
 }